
.icons{
  display: flex;
  gap: 5px;
  width: 100%;
}


.sidebar{
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-right: 1px solid #000000;
  padding: 20px;
}


.categories{
  display: flex;
  flex-direction: column;
  gap: 5px;
  &__item{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    span{
      font-size: 14px;
      font-weight: 500;
    }
  }
}


.search{
  &__input{
    font-family: "SF Pro", serif;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    border-radius: 12px;
    padding: 8px 10px 8px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
    background:  url("/images/search.svg") 10px 10px no-repeat, rgba(255, 255, 255, 0.25);
  }
  &__input::placeholder{
    color: rgba(0, 0, 0, 0.50);
  }
  &__input:hover{
    background: url("/images/search.svg") 10px 10px no-repeat, rgba(255, 255, 255, 0.50);
  }
  &__input:focus{
    background: url("/images/search.svg") 10px 10px no-repeat, rgb(255, 255, 255);
  }
}
