.main {
  background: url('/desktop/bg.jpeg') center/ cover no-repeat;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  position: relative;
  &__roll {
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    img {
      transition: all 0.3s;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.rotate {
      background-color: white;
      color: black;
      img {
        transform: rotate(180deg);
      }
    }
  }
  &__sidebar {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
  }
  &__navigation {
    padding: 20px;
    font-size: 16px;
  }
  &__navigation-wrapper {
    height: 100%;
    max-height: calc(100vh - 40px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 150px;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__navigation-item {
    border-radius: 9px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    color: black;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.active {
      background: #1c1c1e;
      color: white;
    }
  }
  &__buttons {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
  }
  &__buttons-wrapper {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    max-height: calc(100vh - 40px);
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__buttons-hint {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    background: #1c1c1e;
    color: white;
    position: sticky;
    top: 0;

    div {
      flex: 1;
      height: 1px;
      background: #fff;
    }
  }
  &__buttons-docs {
    padding: 10px 20px;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.active {
      background: #1c1c1e;
      color: white;
      position: sticky;
      z-index: 3;
      top: 40px;
      bottom: 0;
      .main__buttons-year {
        color: black;
      }
      .main__buttons-bylldan {
        color: black;
      }
    }
  }
  &__buttons-docs-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
    div {
      max-width: 250px;
      width: 100%;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__buttons-docs-right {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: end;
  }
  &__buttons-year {
    display: flex;
    height: 25px;
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background: #fff;
  }
  &__buttons-title {
    font-size: 16px;
  }
  &__buttons-bylldan {
    display: flex;
    height: 25px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    border-radius: 5px;
    width: auto !important;
    background: linear-gradient(97deg, #ff5f6d 0%, #ffc371 100%);
  }
  &__content {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    flex: 1 0 auto;
  }
  &__content-wrapper {
    height: 100%;
    max-height: calc(100vh - 40px);
    overflow: auto;
    background-color: #1c1c1e;
    border-radius: 20px;
    color: white;
    position: relative;
    &::-webkit-scrollbar {
      width: 0;
    }
    &.center {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
  }

  &__iframe {
    width: 100%;
    max-height: calc(100vh - 40px);
    height: 100%;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__docs-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: #1c1c1e;
    border-radius: 9px;
    padding: 5px 10px;
  }
  &__posts-wrapper {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
  }
  &__posts {
    height: 100%;
    max-height: calc(100vh - 40px);
    overflow: auto;
    background-color: #000;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__posts-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__posts-top {
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: end;
  }
  &__posts-date {
    display: flex;
    gap: 5px;
    padding: 0 10px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: black;
    background-color: #fff;
    border-radius: 9px;
  }
  &__posts-content {
    background: #1c1c1e;
    border-radius: 9px;
  }
  &__posts-text {
    padding: 20px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      color: #00ffa3;
      text-decoration-line: underline;
    }
  }
  &__posts-photo {
    width: calc(100vw - 722px);
    border-radius: 20px;
    user-select: none;
    // cursor: pointer;
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: #00ffa3;
}
.swiper-pagination-bullet-active {
  background-color: #00ffa3;
}

.ondev {
  div {
    opacity: 0.3;
  }
  img {
    opacity: 0.3;
  }
  cursor: default;
  &::before {
    content: '';
    background: url('/desktop/ondev.png') center/ cover no-repeat;
    width: 107px;
    height: 22px;
    order: 2;
  }
  &:hover {
    background-color: transparent;
  }
}
