.main {
  background: url('/desktop/bg.jpeg') center/ cover no-repeat;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  &__sidebar {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
  }
  &__navigation {
    padding: 20px;
  }
  &__navigation-wrapper {
    height: 100%;
    max-height: calc(100vh - 40px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
  }
  &__navigation-item {
    border-radius: 9px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    color: black;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.active {
      background: #1c1c1e;
      color: white;
    }
  }
  &__buttons {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
  }
  &__buttons-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    max-height: calc(100vh - 40px);
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__buttons-hint {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    background: #1c1c1e;
    color: white;
    position: sticky;
    top: 0;

    div {
      flex: 1;
      height: 1px;
      background: #fff;
    }
  }
  &__buttons-docs {
    padding: 10px 20px;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.active {
      background: #1c1c1e;
      color: white;
      position: sticky;
      z-index: 3;
      top: 40px;
      bottom: 0;
      .main__buttons-year {
        color: black;
      }
      .main__buttons-bylldan {
        color: black;
      }
    }
  }
  &__buttons-docs-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
    div {
      width: 250px;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__buttons-docs-right {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: end;
  }
  &__buttons-year {
    display: flex;
    height: 25px;
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background: #fff;
  }
  &__buttons-title {
    font-size: 16px;
  }
  &__buttons-bylldan {
    display: flex;
    height: 25px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    border-radius: 5px;
    width: auto !important;
    background: linear-gradient(97deg, #ff5f6d 0%, #ffc371 100%);
  }
}

.ondev {
  div {
    opacity: 0.3;
  }
  img {
    opacity: 0.3;
  }
  cursor: default;
  &::before {
    content: '';
    background: url('/desktop/ondev.png') center/ cover no-repeat;
    width: 107px;
    height: 22px;
    order: 2;
  }
  &:hover {
    background-color: transparent;
  }
}
