.select {
  position: relative;
  font-size: 20px;
  user-select: none;
  &__visible {
    display: flex;
    gap: 5px;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }
  &__text {
    line-height: 1;
    font-size: 20px;
  }
  &__svg {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
  }
  &__invisible {
    top: 0;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    justify-content: center;
    border-radius: 9px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: #1c1c1e;
    max-height: 230px;
    overflow: auto;
  }
  &__item {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: right;
    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }
  &__active {
    background-color: #0a7aff;
    &:hover {
      background-color: #0a7aff;
    }
  }
}
