@import "reset";

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
}

html,
body,
#root {
  height: 100%;
}

body.mobile {
  background: #000000;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
